.bank-number-group {
  display: flex;
}

.hr {
  height: 1px !important;
  background-color: rgb(212, 212, 212);
  margin: 20px 0 20px 0;
}

.address {
  display: flex;
  justify-content: space-between;
}

.inner-address {
  width: 50%;
  margin-right: 5px !important;
}

.hr2 {
  height: 1px !important;
  background-color: rgb(212, 212, 212);
  margin: 5px 0 30px 0;
}

input {
  background-color: rgb(245, 244, 244);
  border: none;
  border-bottom: 1px solid rgb(212, 212, 212);
  width: 100%;
  height: 35px;
  margin-bottom: 12px;
  position: relative;
  z-index: 5;
}

select {
  background-color: rgb(245, 244, 244);
  border: none;
  height: 35px;
  padding: 7px 10px;
  border-radius: 4px;

  border: 1px solid rgb(212, 212, 212);
}

.select-group {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.select-group:first-child {
  margin-right: 30px !important;
}

input:focus {
  outline: none;
}

label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 13px;
  color: rgb(102, 102, 102);
}

.currencyIso4217Code-select {
  display: flex;
  align-items: center;
}

.currencyIso4217Code-select > label {
  margin-left: 20px !important;
}

.currencyIso4217Code-select > select {
  margin-left: 15px !important;
}

.select-group-inner {
  display: flex;
}

.select-group-inner > label {
  margin-right: 15px;
}

.button {
  height: 45px;
  margin: 10px 0px 20px 0px;
  background-color: #476386;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  width: 100% !important;
}

.button:hover {
  cursor: pointer;
}

p {
  font-size: 12px;
}

.captcha {
  width: 100%;
  display: flex;
  margin-top: 5px;
  justify-content: center;
}

.warning {
  font-size: 10px;
  color: rgb(228, 93, 93);
  text-align: start;
  position: relative;
  height: 11px;
  margin: 0;
  top: -40px;
  transition: top 5s;
  z-index: 0;
}

.active-warning {
  font-size: 10px;
  color: rgb(228, 93, 93);
  text-align: start;
  position: relative;
  height: 11px;
  margin: 0;
  animation-duration: 0.5s;
  animation-name: slidein;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  transition: top 5s;
  display: block;
}

@keyframes slidein {
  from {
    top: -40px;
  }

  to {
    top: -10px;
  }
}

.deactive-warning {
  font-size: 10px;
  color: rgb(228, 93, 93);
  text-align: start;
  position: relative;
  height: 11px;
  margin: 0;
  animation-duration: 0.5s;
  animation-name: slideout;
  transition: top 0.5s;
  display: block;
}

@keyframes slideout {
  from {
    top: -10px;
  }

  to {
    top: -40px;
  }
}

.wrapper {
  display: flex;
}
.first-gorup {
  margin-right: 150px;
}
