.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 110vh;
  width: 100%;
  /* background: url("./assets/login-background.svg");
  background-size: cover; */
  background: #ebebeb;
}

.App {
  padding-top: 30px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
