.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
  width: 100vw;
  background: url("./assets/login-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
